.top{
    text-align: center;
    font-size:15px;
    color:rgb(41, 39, 39);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:20px;
    background:rgb(243, 208, 195);
    border:1px solid rgb(241, 174, 149);
    padding: 20px;
}


.left > div > a{
    text-decoration: none;
    color:rgb(37, 36, 36);
    font-size: 15px;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.line{
    height:1px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
    background-color:rgb(229, 229, 240);
}
@media screen and (min-width: 100px) and (max-width:614px) {
    .box{
        display: flex;
        flex-direction: column;
    }
    .left{
        width:100%;
        display: flex;
        flex-direction:column;
        margin-top: 20px;
        text-align: start;
        padding:20px;
        background:white;
    }
    .right{
        width:100%;
        background:white;
        margin: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
  @media screen and (min-width: 614px)  {
    .box{
        display: flex;
        flex-direction: row;
    }
    .left{
        width:25%;
        display: flex;
        flex-direction:column;
        margin-top: 20px;
        text-align: start;
        padding:20px;
        background:white;
    }
    .right{
        width:70%;
        background:white;
        margin: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  }
  
  .like{
      width:180px;
      height:160px;
     border:1px solid black;
      text-align:center;
      
  }
 